---
layout: default.ejs
title: Главная
---

<div class="container">
    <h1>Путешествуйте и открывайте для себя Беларусь, которую раньше не знали</h1>
    <p>Открой для себя национальные парки, исторические места и достопримечательности с приложением-путеводителем. Ищи экскурсии и маршруты в каталоге, и отправляйся в увлекательное путешествие. </p>
    <p><a href="/ru/about">About page</a></p>
    <p><a href="/sitemap"><%= lang[locale].sitemap %></a></p>
</div>
