.c-about {
    display: flex;
    margin: 0 -10px 80px;
}
.c-about__item {
    width: 25%;
    padding: 0 10px 20px;

    h3 {
        margin-bottom: 8px;
        font-size: toRem(18);
    }
    p {
        font-size: toRem(16);
    }
}
.c-about__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
}
.c-about__icon--search {
    background: url(../../images/icon-search.svg) no-repeat;
    background-size: contain;
}
.c-about__icon--loc {
    background: url(../../images/icon-loc.svg) no-repeat;
    background-size: contain;
}
.c-about__icon--map {
    background: url(../../images/icon-map.svg) no-repeat;
    background-size: contain;
}
.c-about__icon--fav {
    background: url(../../images/icon-fav.svg) no-repeat;
    background-size: contain;
}

@include Tablet {
    .c-about {
        flex-wrap: wrap;
    }
    .c-about__item {
        width: 50%;
        padding: 0 10px 50px;
    
        h3 {
            max-width: 240px;
            font-size: toRem(16);
        }
        p {
            max-width: 240px;
            font-size: toRem(14);
        }
    }
}
@include Mobile {
    .c-about__item {
        width: 100%;
        padding: 0 10px 23px;
    
        h3 {
            max-width: none;
            font-size: toRem(15);
        }
        p {
            max-width: none;
            font-size: toRem(13);
        }
    }
    .c-about__icon {
        width: 32px;
        height: 32px;
    }
}
