.c-app {
  display: flex;
  margin-bottom: 40px;
  align-items: center;

  @include Mobile {
    display: block;
  }
}
.c-app__desktop-img {
  flex: 50%;

  img {
    max-height: 459px;
  }
}
.c-app__grid {
  flex: 50%;
}

.c-app__grid-cell {
  font-size: toRem(16);
  padding: 24px;
  border-radius: 6px;
  margin: 20px 0;
  border: 1px solid transparent;
  background-color: $color-page-bg;
  text-align: left;
  width: 100%;

  h3 {
    margin-bottom: toRem(8);
  }

  &:hover {
    background: #F9F9F9;
    cursor: pointer;

    h3 {
      color: #239F0F;
    }
  }

  @include Mobile {
    display: block;
  }
}
.c-app__grid-cell__selected {
  background: #F0F8E9;
  border: 1px solid rgba(39, 166, 19, 0.1);
  pointer-events: none;

  h3 {
    color: #239F0F;
  }
}
.c-app__pagination {
  margin: 0 40%;

  .swiper-pagination-bullet-active {
      background: #4BA83B;
  }
}

@include Tablet {
  .c-app__grid-cell {
    font-size: toRem(14);
    margin: 10px 0;

    &:hover, &:active {
      background: #F0F8E9;
      border: 1px solid rgba(39, 166, 19, 0.1);

      h3 {
        color: #239F0F;
      }
    }
  }
}

@include Mobile {
  .c-app__imgs {
    flex: 100%;
  }

  .c-app__grid-cell {
    min-height: 150px;

    &:hover, &:active {
      background: $color-page-bg;
      border: 1px solid transparent;

      h3 {
        color: $color-text-head;
      }
    }
  }
}
