.c-feedback {
    background: url(../../images/bg-curve.svg) 50% no-repeat;
    background-size: contain;

    .container {
        max-width: 740px;
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }

    h2 {
        margin-bottom: 29px;
    }
    .btn-primary {
        margin-top: 30px;
        padding: 0 60px;
    }

    @include Tablet {
        h2 {
            margin-bottom: 20px;
        }
        .btn-primary {
            margin-top: 20px;
            padding: 0 50px;
        }
    }
    
    @include Mobile {
        .container {
            padding-top: 65px;
            padding-bottom: 100px;
        }
        h2 {
            margin-bottom: 24px;
        }
        p {
            display: inline;
            margin-right: 3px;
        }
        .btn-primary {
            display: block;
            height: 43px;
            margin: 24px auto 0;
            padding: 0 30px;
        }
    }
}
