.c-lang {
    display: flex;
    font-size: toRem(16);
    font-weight: 600;
    color: $color-text-head;
    text-transform: uppercase;

    li {
        margin: 0 15px;
        list-style: none;
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    .c-lang__current {
        color: $color-green;
    }
}
