

@function toRem($value) {
    $remValue: calc($value / 16) + rem;
    @return $remValue;
}

@mixin Tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin Mobile {
    @media (max-width: 743px) {
        @content;
    }
}

@mixin MobileSmall {
    @media (max-width: 350px) {
        @content;
    }
}

@mixin MobileMini {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin hoverOpacity {
    transition: opacity .3s;

    &:hover {
        opacity: 0.8;
    }
}

