$systemFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-page-bg:      #fff;
$color-btn-bg:       #4BA83B;
$color-btn-bg-over:  #5cb94c;
$color-text:         #55555C;
$color-text-head:    #1E1F20;

