$systemFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-page-bg:      #fff;
$color-text:         #55555C;
$color-text-head:    #1E1F20;
$color-green:        #1C800C;

