
.footer {
    padding: 20px 0 20px;
    background: #1E1F20;
    font-size: toRem(16);
    color: #fff;

    display: flex;
    align-items: center;
    min-height: 48px;

    .container {
        display: flex;
        align-items: center;
        width: 100%;

        > div {
            flex: 1 0 auto;
        }
    }
}

.footer__links {
    text-align: right;

    a {
        @include hoverOpacity;
    }
}

@include Mobile {
    .footer {
        padding-bottom: 20px;
        font-size: toRem(14);

        .container {
            flex-direction: column;
        }
    }

    .footer__copy {
        margin-bottom: 13px;
    }
    .footer__links {
        text-align: center;
        font-size: toRem(16);

        a {
            white-space: nowrap;
        }
    }
}
