
.footer {
    padding: 20px 0 20px;
    background: #1E1F20;
    font-size: toRem(16);
    color: #fff;

    display: flex;
    align-items: center;
    min-height: 48px;

    .container {
        display: flex;
        align-items: center;

        > div {
            flex: 1 0 auto;
        }
    }
}

.footer__links {
    text-align: right;

    a {
        text-decoration: none;

        @include hoverOpacity;
    }
}

@include Tablet {
    .footer {
        flex-direction: column-reverse;

        padding-bottom: 20px;
        font-size: toRem(14);

        .container {
            flex-direction: column-reverse;
        }
    }

    .footer__links {
        margin-bottom: 13px;
    }
}

@include Mobile {
    .footer {
        font-size: toRem(12);
    }
}

@include MobileSmall {
  a:first-child {
    margin-right: 5px;
  }
}
