
.footer {
    padding: 20px 0 10px;
    background: #1E1F20;
    font-size: toRem(16);
    color: #fff;

    display: flex;
    align-items: center;
    min-height: 48px;

    .container {
        display: flex;
        align-items: center;

        > div {
            flex: 1 0 auto;
        }
    }
}
.footer__apps {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    a {
        margin: 0 17px;

        @include hoverOpacity;
    }
}
.footer__links {
    text-align: right;

    a {
        text-decoration: none;

      @include hoverOpacity;
    }
}

@include Tablet {
    .footer {
        flex-direction: column-reverse;

        padding-bottom: 20px;
        font-size: toRem(14);

        .container {
            flex-direction: column-reverse;
        }
    }
    .footer__apps {
        order: 1;
        padding: 4px 0 7px;

        a {
            margin: 0 5px;
        }
    }
    .footer__links {
        margin-bottom: 13px;
    }
}

@include Mobile {
    .footer {
        font-size: toRem(12);
    }
}

@include MobileSmall {
  .footer__apps {
    a {
      margin: 0;
    }

    a:first-child {
      margin-right: 5px;
    }
  }
}
