@import './variables.scss';
@import './mixins.scss';

@import './reset.scss';
@import './main.scss';

@import './header.scss';
@import './footer.scss';

@import './components/lang.scss';
@import './components/download-banner.scss';
@import './components/feedback.scss';
