---
layout: default.ejs
title: Radzima.app
---

<div class="container">
    <%- include('/sectionPromo') %>

    <%- include('/sectionStats') %>

    <h2 class="c-section-head">как работает приложение</h2>
    <div class="c-app">
      <div class="c-app__desktop-img">
        <img id="screenshot-app"src="/images/screenshot-app-1.png" alt="screenshot-app">
      </div>
      <div class="swiper c-app__imgs u-hidden">
        <div class="swiper-wrapper">
          <div class="swiper-slide c-app__img">
            <img id="screenshot-app-1" src="/images/screenshot-app-1.png" alt="screenshot-app-1">
          </div>
          <div class="swiper-slide c-app__img">
            <img id="screenshot-app-2" src="/images/screenshot-app-2.png" alt="screenshot-app-2">
          </div>
          <div class="swiper-slide c-app__img">
            <img id="screenshot-app-3" src="/images/screenshot-app-3.png" alt="screenshot-app-3">
          </div>
        </div>
        <div class="c-app__pagination"></div>
      </div>
      <div class="c-app__grid">
        <div class="c-app__grid-cell c-app__grid-cell__selected" id="description-screenshot-app-1">
          <h3>Выбирай интересные локации</h3>
          <p>Заповедные территории, памятники и музеи, культурные объекты и места отдыха - более 500 уникальных локаций.</p>
        </div>
        <div class="c-app__grid-cell" id="description-screenshot-app-2">
          <h3>Строй маршрут</h3>
          <p>Большой выбор необычных маршрутов с подробным описанием объектов и путей следования.</p>
        </div>
        <div class="c-app__grid-cell" id="description-screenshot-app-3">
          <h3>Наслаждайся путешествием</h3>
          <p>Приглашай друзей, делись своими уникальными находками и отправляйся в новое увлекательное путешествие.</p>
        </div>
      </div>
    </div>

    <%- include('/sectionAbout') %>

    <%- include('/sectionFeedbacks') %>

</div>
