<div class="c-dialog-overlay u-hidden">
    <div class="c-dialog" role="dialog" aria-modal="true" aria-labelledby="dialog-title" tabindex="-1">
        <h2 id="dialog-title" class="u-visually-hidden"></h2>
        <div class="c-dialog__body"></div>
        <button type="button" class="c-dialog__close">
            <span class="u-visually-hidden"><%= lang[locale].closeDialog %></span>
        </button>
    </div>
</div>
