<footer class="footer">
    <div class="container">
        <div class="footer__copy">
            &copy; 2022 EPAM Systems, All rights reserved
        </div>
    </div>
    <div class="container">
        <div class="footer__links">
            <a href="<%= site.privacyPolicy %>" target="_blank" rel="noopener">
               <%= lang[locale].privacyPolicy %>
               <span class="u-visually-hidden"><%= lang[locale].externalLinkWarning%></span>
            </a>
        </div>
    </div>
</footer>
