<footer class="footer">
    <div class="container">
        <div class="footer__copy">
            &copy; 2022 EPAM Systems, All rights reserved
        </div>
    </div>
    <div class="container">
        <div class="footer__links">
            <a href="<%= site.privacyPolicy %>" target="_blank" rel="noopener" aria-label="<%= lang[locale].privacyPolicy %> <%= lang[locale].externalLinkWarning%>">
               <%= lang[locale].privacyPolicy %>
            </a>
        </div>
    </div>
</footer>
