<a href="<%= site.appGooglePlay %>" target="_blank" rel="noopener" aria-label="<%= lang[locale].googlePlayImageAlt %> <%= lang[locale].externalLinkWarning%>">
    <picture>
        <source type="image/webp"
                srcset="/images/badges/googleplay_us@1x.webp 1x,
                        /images/badges/googleplay_us@2x.webp 2x,
                        /images/badges/googleplay_us@3x.webp 3x">
        <img srcset="/images/badges/googleplay_us@3x.png 3x,
                    /images/badges/googleplay_us@2x.png 2x,
                    /images/badges/googleplay_us@1x.png 1x"
             alt="<%= lang[locale].googlePlayImageAlt %>"
             src="/images/badges/googleplay_us@1x.png"
             width="161"
             height="48">
    </picture>
</a>
