<div class="c-lang">
    <button class="c-lang__val" type="button"><%= locale %></button>
    <div class="c-lang__options">
        <a href="/<%= locale === 'en' ? 'ru' : 'en' %>"><%= locale === 'en' ? 'ru' : 'en' %></a>
    </div>
</div>