<%
var langs = Object.keys(lang);
%>
<ul class="c-lang">
<% langs.forEach((lang) => { 
    if(lang === locale) {
    %>
    <li class="c-lang__current" aria-current="page"><%= lang %></li>
    <%
    } else {
    %>
    <li><a href="/<%= lang %>"><%= lang %></a></li>
    <%
    }
}); %>
</ul>
