<div class="c-feedback">
    <div class="container">
        <h2><%= lang[locale].footFeedbackTitle %></h2>
        <%- lang[locale].footFeedbackBody %>
        <a href="mailto:support@radzima.app" class="btn-primary">
            <%= lang[locale].feedbackBtn %>
        </a>
    </div>
</div>
