---
layout: default.ejs
title: Home page
---

<div class="container">
    <h1>Travel and discover Belarus you didn't know before</h1>
    <p>Discover national parks, historical sites and attractions with the guide app. Look for excursions and routes in the catalog, and go on an exciting journey.</p>
    <p><a href="/en/about">About page</a></p>
    <p><a href="/sitemap"><%= lang[locale].sitemap %></a></p>
</div>
